accelerate
torch==2.6.0
hydra-core>=1.3.0
hydra-submitit-launcher
jailbreakbench
json5>=0.12.0
judgezoo
lm-format-enforcer>=0.10.11
matplotlib
omegaconf>=2.1.0
openai>=1.79.0
orjson
peft
pytest
scikit-learn
seaborn
submitit
tqdm>=4.66.5
transformers>=4.56.0
flash-attn
beartype
datasets
